**/**/.vscode
**/**/.idea
**/**/.angular/cache
**/**/.sass-cache
**/**/node_modules


# Don't check in secret files
*secret.js

# Ignore npm/yarn debug log
npm-debug.log
yarn-error.log

#System files
.DS_store
Thumbs.db
